body {
  background-color: rgb(108, 182, 216);
}

label {
  color: rgb(241, 242, 248);
}

.logo-mini {
  max-width: 100%;
  max-height: 100%;

  background: transparent url("src\assets\contrutor.png") no-repeat;

}


